/* ### CUSTOM PROPERTIES ### */

:root {
  --primary-blue-500: hsl(223, 87%, 63%);

  --secondary-blue-200: hsl(223, 100%, 88%);
  --secondary-red-400: hsl(254, 100%, 66%);

  --neutral-gray-400: hsl(0, 0%, 59%);
  --neutral-blue-950: hsl(209, 33%, 12%);
}
