/* ### CUSTOM PROPERTIES ### */

:root {
  --primary-blue-500: hsl(223, 87%, 63%);

  --secondary-blue-200: hsl(223, 100%, 88%);
  --secondary-red-400: hsl(254, 100%, 66%);

  --neutral-gray-400: hsl(0, 0%, 59%);
  --neutral-blue-950: hsl(209, 33%, 12%);

  --ff-libre-franklin: "Libre Franklin", sans-serif;
  --fw-300: 300;
  --fw-600: 600;
  --fw-700: 700;

  --fs: 1.25rem;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ### UTILITY CLASSES ### */

.text-accent {
  color: var(--neutral-blue-950);
  font-weight: var(--fw-700);
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-libre-franklin);
  font-weight: var(--fw-300);
}

/* ### MAIN ### */

main {
  padding-top: 8rem;
  padding-bottom: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 60px;
}

h1 {
  color: var(--neutral-gray-400);
  font-weight: var(--fw-300);
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

.subtitle {
  margin-top: 0.6rem;
  font-size: 1rem;
}

form {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 80%;
}

form input {
  width: 100%;
  padding: 0.8rem 2.5rem;
  border-radius: 200px;
  border: none;
  font-size: 1rem;
}

input[type="email"] {
  border: 1px solid var(--secondary-blue-200);
}

input[type="email"]::placeholder {
  color: hsl(224, 33%, 71%);
}

input[type="submit"] {
  background-color: var(--primary-blue-500);
  color: #fff;
  box-shadow: 0px 6px 30px #4f7df35c;
}

.dashboard-img {
  margin-top: 5rem;
  width: 80%;
}

.footer {
  margin-top: auto;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.social-icon-container {
  box-sizing: content-box;
  border-radius: 200px;
  padding: 0.6rem;
  overflow: hidden;
  border: 1px solid hsla(224, 18%, 80%, 0.601);
}

.social-icon-container svg {
  width: 20px;
  height: auto;
}

.social-icon-container svg path {
  fill: var(--primary-blue-500);
}

.copyright-section {
  margin-top: 1.5rem;
  color: var(--neutral-gray-400);
  font-size: 0.8rem;
}
