/* ### CUSTOM PROPERTIES ### */

:root {
  --primary-blue-500: hsl(223, 87%, 63%);

  --secondary-blue-200: hsl(223, 100%, 88%);
  --secondary-red-400: hsl(254, 100%, 66%);

  --neutral-gray-400: hsl(0, 0%, 59%);
  --neutral-blue-950: hsl(209, 33%, 12%);

  --ff-libre-franklin: "Libre Franklin", sans-serif;
  --fw-300: 300;
  --fw-600: 600;
  --fw-700: 700;

  --fs: 1.25rem;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ### UTILITY CLASSES ### */

.text-accent {
  color: var(--neutral-blue-950);
  font-weight: var(--fw-700);
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-libre-franklin);
  font-weight: var(--fw-300);
}
